{% extends "site_base.html" %}
{% comment %}
This template is an attempt to harmonize the Django 1.2 contrib admin site
base template with the site theme.
{% endcomment %}
{% load i18n %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
  {% block extrastyle %}{% endblock %}
  <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
  {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
   <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style/admin_overrides.css" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";</script>
{% endblock %}

{# admin includes header in content #}
{% block full-content-override %}{% endblock %}

{% block precontent %}
  {{ block.super }}
  {% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}
{% endblock %}

{% block content-body %}
  {% block pretitle %}{% endblock %}
  {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
  {% block content %}
    {% block object-tools %}{% endblock %}
    {{ content }}
  {% endblock %}
  {% block sidebar %}{% endblock %}
  <br class="clear" />
{% endblock %}
