{% extends "file/base.html" %}

{% block page-subtitle %}{{ block.super }} : {% firstof obj.label obj.pid %}{% endblock %}

{% block content-title %}{{ obj.label }}{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% if obj.is_image %}
    <script type="text/javascript"  src="{{ seadragon_baseurl }}/OpenSeadragon.debug.js"></script>
    {# TODO: should probably only use debug version in dev/debug mode #}
    <script type="text/javascript">            
    function init() {
      Seadragon.Config.imagePath = "{{ seadragon_baseurl }}/images/"; 
      var djatoka_base = "{% url file:image-region obj.pid %}?";
      viewer = new Seadragon.Viewer("deepzoom-image", djatoka_base);
      viewer.openDzi("{% url file:dzi obj.pid %}");
    }
    Seadragon.Utils.addEvent(window, "load", init); 
    </script>
  {% endif %}
{% endblock %}

{% block content-body %}
<p>Created {{ obj.created }}; last modified {{ obj.modified }}.<br/>
  <a href="{% url file:raw-ds obj.pid, 'DC' %}">DC</a>
  <a href="{% url file:raw-ds obj.pid, 'RELS-EXT' %}">RELS-EXT</a>
</p>

<p><a href="{% url file:download obj.pid %}">Download</a></p>
{% if perms.file.change_file %}
  <p><a href="{% url file:edit obj.pid %}">Edit</a></p>
{% endif %}

{% if obj.is_image %}
  <div id="deepzoom-image"></div>
{% endif %}

{% if obj.has_preview %}
<img src="{% url file:preview obj.pid %}"/>
{%  endif %}


{% with obj.dc.content as dc %}
  {% if dc.description %}<p>{{ dc.description }}</p>{% endif %}
  {% if dc.creator_list %}
    <p><b>Creator{{ dc.creator_list|length|pluralize }}:</b> {{ dc.creator_list|join:'; ' }}</p>
  {% endif %}
  {% if dc.contributor_list %}
    <p><b>Contributor{{ dc.contributor_list|length|pluralize }}:</b> {{ dc.contributor_list|join:'; ' }}</p>
  {% endif %}
  {% if dc.date %}<p><b>Date:</b> {{ dc.date }}</p>{% endif %}
  {% if dc.coverage_list %}
    <p><b>Coverage:</b> {{ dc.coverage_list|join:'; ' }}</p>
  {% endif %}
  {% if dc.language %}<p><b>Language:</b> {{ dc.language }}</p>{% endif %}
  {% if dc.publisher %}<p><b>Publisher:</b> {{ dc.publisher }}</p>{% endif %}
  {% if dc.relation_list %}
    <p><b>Relation{{ dc.relation_list|length|pluralize }}:</b> {{ dc.relation_list|join:'; ' }}</p>
  {% endif %}
  {% if dc.rights %}<p><b>Rights:</b> {{ dc.rights }}</p>{% endif %}
  {% if dc.source %}<p><b>Source:</b> {{ dc.source }}</p>{% endif %}
  {% if dc.subject_list %}
    <p><b>Subject{{ dc.subject_list|length|pluralize }}:</b> {{ dc.subject_list|join:'; ' }}</p>
  {% endif %}
  {% if dc.type %}<p><b>Type:</b> {{ dc.type }}</p>{% endif %}
  {% if dc.format %}<p><b>Format:</b> {{ dc.format }}</p>{% endif %}
  {% if dc.identifier %}<p><b>Identifier:</b> {{ dc.identifier }}</p>{% endif %}
{% endwith %}

{% endblock %}